<!DOCTYPE html>
<html>
<head>
  <title>ToDo App</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styling.css" />
</head>
<body>
    <div id="app-container">
        <div>
            <todo-item
                v-for="(todo, index) in todos"
                v-bind:todo="todo"
                v-bind:index="index"
                v-bind:key="index"
                v-on:remove-clicked="removeTodo"
            ></todo-item>
        </div>
        <input v-model="inputTodo" v-on:keyup.enter="addTodo" placeholder="Add ToDo" id="todo-input"/>
    </div>

    <script src="main.js"></script>
</body>
</html>